BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150
AllowShortFunctionsOnASingleLine: true
DerivePointerAlignment: true
PointerAlignment: Left
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignConsecutiveBitFields: false
AlignTrailingComments: false
AlignAfterOpenBracket: Align
AlignOperands: false
AlignEscapedNewlines: Left
